<div id="owl-example" class="owl-carousel">
<div class="owl-slide">
  <div class="owl--text">
  This is a full height Owl slider. There is nothing else interesting here!</div>
</div>
<div class="owl-slide">
  <div class="owl--text">
  Lorem ipsum dolor sit amet, consectetur adipisicing elit!</div>
</div>
<div class="owl-slide">
  <div class="owl--text">
  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam excepturi voluptate eveniet consectetur numquam laboriosam.
  </div>
</div>
</div>
